extends layout

block content

  h1.heading= "New Book Page"
  h2.subhead= "Here is where you can enter a new book for the database"

  if errors
    include form-error
  if(book)
    include form
  else 
    include empty-form
